.get_in_touch_text {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 0 165px; */
    justify-content: center;
}

.get_in_touch_p {
    /* padding: 0 165px; */
}
/* 
.get_p {
    padding-left: 165px;
}
.get {
    padding-left: 165px;
} */